interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-04-29T19:01:16Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "ST2"}, "properties": {"displayName":
      "iotc-cli-test000002", "subdomain": "iotc-cli-test000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"8d87632d-b0fc-4112-89c3-61d71db42d8b","displayName":"iotc-cli-test000002","subdomain":"iotc-cli-test000002","template":"iotc-pnp-preview@1.0.0","state":"created"},"sku":{"name":"ST2"},"identity":{"type":"None"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4000a8f0-0000-0100-0000-626c36020000"'
      x-iot-cluster:
      - iotcprodwestus01
      x-iot-correlation:
      - 85l9hkzv.0
      x-iot-version:
      - 041722.0001-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "ST1"}, "properties": {"displayName":
      "My Custom App Display Name", "subdomain": "iotc-cli-test000002-template", "template":
      "iotc-pnp-preview@1.0.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002-template?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002-template","name":"iotc-cli-test000002-template","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"b38e019d-d183-4669-bc19-05f8fed9b816","displayName":"My
        Custom App Display Name","subdomain":"iotc-cli-test000002-template","template":"iotc-pnp-preview@1.0.0","state":"created"},"sku":{"name":"ST1"},"identity":{"type":"None"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"66007afd-0000-0100-0000-626c36290000"'
      x-iot-cluster:
      - iotcprodwestus01
      x-iot-correlation:
      - 2wvvd02f.0
      x-iot-version:
      - 041722.0001-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "ST2"}, "identity": {"type": "SystemAssigned"},
      "properties": {"displayName": "iotc-cli-test000002-mi", "subdomain": "iotc-cli-test000002-mi"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002-mi?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002-mi","name":"iotc-cli-test000002-mi","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"0af57aaa-3431-4b1d-999a-4aa16021f7a2","displayName":"iotc-cli-test000002-mi","subdomain":"iotc-cli-test000002-mi","template":"iotc-pnp-preview@1.0.0","state":"created"},"sku":{"name":"ST2"},"identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"f032d017-6b20-48d1-86a4-c3801d7f8859"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0600e359-0000-0100-0000-626c364f0000"'
      x-iot-cluster:
      - iotcprodwestus01
      x-iot-correlation:
      - 6wj3egif.0
      x-iot-version:
      - 041722.0001-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps?api-version=2021-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"8d87632d-b0fc-4112-89c3-61d71db42d8b","displayName":"iotc-cli-test000002","subdomain":"iotc-cli-test000002","template":"iotc-pnp-preview@1.0.0","state":"created"},"sku":{"name":"ST2"},"identity":{"type":"None"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-iot-cluster:
      - iotcprodwestus01
      x-iot-correlation:
      - 3f1kbred.0
      x-iot-version:
      - 041722.0001-release
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002?api-version=2021-06-01
  response:
    body:
      string: ''
    headers:
      x-iot-cluster:
      - iotcprodwestus01
      x-iot-correlation:
      - 93qrk4g9.0
      x-iot-version:
      - 041722.0001-release
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
