interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-11-25T00:31:44Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"eventHubEndpoints": {"events": {"retentionTimeInDays":
      1, "partitionCount": 4}}, "storageEndpoints": {"$default": {"sasTtlAsIso8601":
      "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H",
      "maxDeliveryCount": 10}}, "enableFileUploadNotifications": false, "cloudToDevice":
      {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H", "feedback": {"lockDurationAsIso8601":
      "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}}, "sku": {"name": "S1",
      "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2021-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus/operationResults/aWQ9b3NfaWhfZTY2YTE2YzgtZTg4Ny00MzYwLTkxN2YtZjM3MjI2NDM4YzRkO3JlZ2lvbj13ZXN0dXM=?api-version=2021-07-01&operationSource=other&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus/operationResults/aWQ9b3NfaWhfZTY2YTE2YzgtZTg4Ny00MzYwLTkxN2YtZjM3MjI2NDM4YzRkO3JlZ2lvbj13ZXN0dXM=?api-version=2021-07-01&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2021-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","etag":"AAAADF25vVQ=","properties":{"locations":[{"location":"West
        US","role":"primary"},{"location":"East US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot000003.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot000003","endpoint":"sb://iothub-ns-iott5qbzwb-16184002-b98b410c7a.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"type":"None"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "dps000002"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability?api-version=2020-03-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {"key1": "value1", "key2": "value2"}, "properties":
      {}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2020-03-01
  response:
    body:
      string: '{"name":"dps000002","location":"westus","properties":{"state":"Activating","provisioningState":"Accepted","allocationPolicy":"Hashed","idScope":null},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","tags":{"key1":"value1","key2":"value2"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfMmE4ODQwOTUtOTMzMC00ZjliLTk5MDAtZWEzY2M4YjY1ZWJjO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfMmE4ODQwOTUtOTMzMC00ZjliLTk5MDAtZWEzY2M4YjY1ZWJjO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2020-03-01
  response:
    body:
      string: '{"etag":"AAAAAAyFOLI=","name":"dps000002","location":"westus","properties":{"state":"Active","provisioningState":"Succeeded","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne00441609"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","tags":{"key1":"value1","key2":"value2"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"etag":"AAAAAAyFOLI=","name":"dps000002","location":"westus","properties":{"state":"Active","provisioningState":"Succeeded","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne00441609"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","tags":{"key1":"value1","key2":"value2"},"sku":{"name":"S1","tier":"Standard","capacity":1}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {"key3": "value3"}, "etag": "AAAAAAyFOLI=",
      "properties": {"state": "Active", "provisioningState": "Succeeded", "iotHubs":
      [], "allocationPolicy": "GeoLatency"}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2020-03-01
  response:
    bo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfZmVmNzgwNTYtOTI1Ny00NDBiLWJmY2YtOTMyODZlYjU5ZDNiO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfMjVkMDUyMWUtNjQzNS00NGRjLThlZjYtYzFiNzY5NDgzYTBkO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/listkeys?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"keyName":"provisioningserviceowner","primaryKey":"ky7Wg+4ucUfuia8edkEJhw7koSXR9Yw2qGNHItctVkU=","secondaryKey":"cbm7ncJdyp2FpWZnhav4LxLvNBfO7l162iLNE0zdqVM=","rights":"ServiceConfig,
        DeviceConnect, EnrollmentWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"iotHubs": [], "allocationPolicy":
      "GeoLatency", "authorizationPolicies": [{"keyName": "provisioningserviceowner",
      "primaryKey": "ky7Wg+4ucUfuia8edkEJhw7koSXR9Yw2qGNHItctVkU=", "secondaryKey":
      "cbm7ncJdyp2FpWZnhav4LxLvNBfO7l162iLNE0zdqVM=", "rights": "ServiceConfig, DeviceConnect,
      EnrollmentWrite"}, {"keyName": "policy000004", "rights": "EnrollmentRead"}]},
      "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfYTYzZjVkNWUtZTY1Ny00YzA2LWFhNzQtOTNmNjM3Y2Q3MzNhO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/keys/policy000004/listkeys?api-version=2020-03-01
  response:
    body:
      string: '{"keyName":"policy000004","primaryKey":"LfLAbTqS1CsuDPpE6EO0xzjZq+LS48rUW0jBfhzKYk4=","secondaryKey":"evX34+nYdh6Vbp8ONVZ0OV9I13cu0ouowpPWn7xfDYI=","rights":"EnrollmentRead"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfZmM4MDdlZWUtN2JhZC00MDIwLWE4YzQtYzMwYzJmNTI3ODVjO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfNjAyNGRmYjctMzZiZS00ZGRkLWE2YzctY2ExYjg2Y2M1MWIxO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2020-03-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"certificate": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tDQpNSUlESFRDQ0FnV2dBd0lCQWdJSVhyM1phSDVxS2RFd0RRWUpLb1pJaHZjTkFRRUxCUUF3SXpFaE1COEdBMVVFDQpBd3dZVkVWVFZFTkZVbFJ3Tm5KdFkzWmpOV04wYm04MU4yOTVNQjRYRFRJeE1URXlOREF3TXpjME9Wb1hEVEl4DQpNVEV5T0RBd016YzBPVm93SXpFaE1COEdBMVVFQXd3WVZFVlRWRU5GVWxSd05uSnRZM1pqTldOMGJtODFOMjk1DQpNSUlCSVRBTkJna3Foa2lHOXcwQkFRRUZBQU9DQVE0QU1JSUJDUUtDQVFBM1FiQkt5bkpWQ2dFRll1dlZyK2R6DQp3dzJJM0ZqeStyTExSLzdvejdpS3o4cys0MXQvU1Q4N1pRbnN0bXkrRzJ1Vy82K2N1WWVDM29GVUhwcWxRZUN6DQpnRTh2bHRtYW1TU2FZZV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"properties":{"subject":"TESTCERT000007","expiry":"Sun,
        28 Nov 2021 00:37:49 GMT","thumbprint":"009541F747E856C23FE04200BBF4A4D53B0BFC34","isVerified":false,"created":"Mon,
        01 Jan 0001 00:00:00 GMT","updated":"Thu, 25 Nov 2021 00:37:50 GMT","certificate":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/provisioningServices/Certificates","etag":"IjcwMDA4ZmYwLTAwMDAtMDcwMC0wMDAwLTYxOWVkYWRlMDAwMCI="}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"certificate": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tDQpNSUlESFRDQ0FnV2dBd0lCQWdJSVhyM1phSDVxS2RFd0RRWUpLb1pJaHZjTkFRRUxCUUF3SXpFaE1COEdBMVVFDQpBd3dZVkVWVFZFTkZVbFJ3Tm5KdFkzWmpOV04wYm04MU4yOTVNQjRYRFRJeE1URXlOREF3TXpjME9Wb1hEVEl4DQpNVEV5T0RBd016YzBPVm93SXpFaE1COEdBMVVFQXd3WVZFVlRWRU5GVWxSd05uSnRZM1pqTldOMGJtODFOMjk1DQpNSUlCSVRBTkJna3Foa2lHOXcwQkFRRUZBQU9DQVE0QU1JSUJDUUtDQVFBM1FiQkt5bkpWQ2dFRll1dlZyK2R6DQp3dzJJM0ZqeStyTExSLzdvejdpS3o4cys0MXQvU1Q4N1pRbnN0bXkrRzJ1Vy82K2N1WWVDM[...]
[...]
- request:
    body: null
    headers:
      If-Match:
      - IjcwMDA5OWYwLTAwMDAtMDcwMC0wMDAwLTYxOWVkYWUzMDAwMCI=
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005/generateVerificationCode?api-version=2020-03-01
  response:
    body:
      string: '{"properties":{"verificationCode":"953B85A0FE5011B20D3EB65C256DEB832657FD096A3FA3DA","subject":"TESTCERT000007","expiry":"Sun,
        28 Nov 2021 00:37:49 GMT","thumbprint":"009541F747E856C23FE04200BBF4A4D53B0BFC34","isVerified":false,"created":"Mon,
        01 Jan 0001 00:00:00 GMT","updated":"Thu, 25 Nov 2021 00:37:57 GMT","certificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tDQpNSUlESFRDQ0FnV2dBd0lCQWdJSVhyM1phSDVxS2RFd0RRWUpLb1pJaHZjTkFRRUxCUUF3SXpFaE1COEdBMVVFDQpBd3dZVkVWVFZFTkZVbFJ3Tm5KdFkzWmpOV04wYm04MU4yOTVNQjRYRFRJeE1URXl[...]
- request:
    body: '{"certificate": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tDQpNSUlEQWpDQ0FlcWdBd0lCQWdJSUplWDNqcS8xWW40d0RRWUpLb1pJaHZjTkFRRUxCUUF3SXpFaE1COEdBMVVFDQpBd3dZVkVWVFZFTkZVbFJ3Tm5KdFkzWmpOV04wYm04MU4yOTVNQjRYRFRJeE1URXlOREF3TXpjMU5sb1hEVEl4DQpNVEV5T0RBd016YzFObG93T3pFNU1EY0dBMVVFQXd3d09UVXpRamcxUVRCR1JUVXdNVEZDTWpCRU0wVkNOalZEDQpNalUyUkVWQ09ETXlOalUzUmtRd09UWkJNMFpCTTBSQk1JSUJJVEFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUTRBDQpNSUlCQ1FLQ0FRQTdWdmlSZzBGanE4WkhwUVRGTTRTa25nUWZnVUx2akZHS3VWN0E0aVNRL[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2021-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiacjutest/providers/Microsoft.Devices/IotHubs/jiacju-iot-accessibility","name":"jiacju-iot-accessibility","type":"Microsoft.Devices/IotHubs","location":"centralus","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"jiacjutest","etag":"AAAADF050bk=","properties":{"locations":[{"location":"Central
        US","role":"primary"},{"location":"East US 2","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[{"filterName":"dfdsf","action":"Accept","ipMask":"131.107.174.229"}],"networkRuleSets":{"defaultAction":"Allow","applyToBuiltInEventHubEndpoint":true,"ipRules":[{"filterName":"dfdsf","action":"Allow","ipMask":"131.107.174.229"}]},"hostName":"jiacju-iot-accessibility.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"jiacju-iot-accessibility","endpoint":"sb://iothub-ns-jiacju-iot-15951259-e1035b4561.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[{"name":"testroute","source":"DeviceLifecycleEvents","condition":"true","endpointNames":["events"],"isEnabled":true}],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","publicNetworkAccess":"Enabled","disableLocalAuth":false,"allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/eventualC/providers/Microsoft.ManagedIdentity/userAssignedIdentities/drEventualCIdentity":{"clientId":"0b4fcef6-7be3-4265-b4a5-f348cd6cbbdd","principalId":"7b457ed0-2509-43f4-83d9-6d0b1f57732e"}}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rkesslerTest/providers/Microsoft.Devices/IotHubs/rkesslerNorthEurope","name":"rkesslerNorthEurope","type":"Microsoft.Devices/IotHubs","location":"northeurope","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"rkesslerTest","etag":"AAAADFwD1S8=","properties":{"locations":[{"location":"North
        Europe","role":"primary"},{"location":"West Europe"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/listkeys?api-version=2021-07-01
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"bnj2LurlDau9QRnVvigymsHpbUqGOKMqZZsqkGEeU6s=","secondaryKey":"ISvXC4EeTDKCX2P3hHMNP6LtOhfNEy3R/7C9rlcb3yY=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"Aw5RHjcs8ZfYP9mVcP2vhE1RlSERAonilE7FNLoYg28=","secondaryKey":"8NtmetO3Uq/n00bxX9ddUib9qhUBH6GAyzusgR/w2GU=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"8Gbdm9thrUELihhM55AGZ+k8TSdv1SSGhE3y2UZ69VQ=","secondaryKey":"cb7MUahuCoC/P1sTue0rDhuS20wUBgpzoFjAMdE+OkM=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"RharX/aLwMROjL0cr+157iWYqZoB4/wQxO2eg6BGqlM=","secondaryKey":"kAZ2Xen6YMpOnomvUZ2KHhrC74WLTgsHnUGs8AgUBv4=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"7alI2Z21yyZ2YBV3LkRFmexyo5mtVD5iRPAbLk8iaNE=","secondaryKey":"cpV9hX10hj0dqdkTFhEjpsenPYC85+yXhsr9iYWJi0I=","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus/operationResults/aWQ9b3NfaWhfZTBhM2Q3ZjktOTRjYS00OGQ1LThkNDgtYjU2YjQ2ZmE0NmVhO3JlZ2lvbj13ZXN0dXM=?api-version=2021-07-01&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/IotHubKeys/iothubowner/listkeys?api-version=2021-07-01
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"bnj2LurlDau9QRnVvigymsHpbUqGOKMqZZsqkGEeU6s=","secondaryKey":"ISvXC4EeTDKCX2P3hHMNP6LtOhfNEy3R/7C9rlcb3yY=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfYTk0YWU3MWUtYjY3YS00YmIzLTk5MWEtMGE5MTRiYjdlMWQwO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfZTlhMWZlY2ItOTk3Zi00OTUxLWJlYmYtNzdiMTU4ZmIwMTFjO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfZjIyZDM0ZjktZTgxYi00MDkxLWE2MTgtZDJkMjFkNzdlNWIwO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfMzg5MzE3MTYtNDFhMC00Y2Y1LWIxNjQtZWJjZGZhYWUwODgwO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfZWFjN2QzODMtOWY2ZS00Yjc1LWI3ZTAtZTc0MDYxZDYxNGFkO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"iotHubs": [{"applyAllocationPolicy":
      true, "allocationWeight": 10, "connectionString": "HostName=iot000003.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=****",
      "location": "westus"}], "allocationPolicy": "GeoLatency"}, "sku": {"name": "S1",
      "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2020-0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfMDlkNDhjMTctZjk1ZC00ZjZjLTgyODktMzQ0YmQxOWQ4MWFkO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
[...]
