interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2021-11-30T00:06:34Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"eventHubEndpoints": {"events": {"retentionTimeInDays":
      1, "partitionCount": 4}}, "storageEndpoints": {"$default": {"sasTtlAsIso8601":
      "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H",
      "maxDeliveryCount": 10}}, "enableFileUploadNotifications": false, "cloudToDevice":
      {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H", "feedback": {"lockDurationAsIso8601":
      "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}}, "sku": {"name": "S1",
      "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2021-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus/operationResults/aWQ9b3NfaWhfNzZkYTllMmItMmIyYS00YjJiLWE1MTQtODBkODVjN2Y4YzY5O3JlZ2lvbj13ZXN0dXM=?api-version=2021-07-01&operationSource=other&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus/operationResults/aWQ9b3NfaWhfNzZkYTllMmItMmIyYS00YjJiLWE1MTQtODBkODVjN2Y4YzY5O3JlZ2lvbj13ZXN0dXM=?api-version=2021-07-01&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2021-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","etag":"AAAADF3m/Qg=","properties":{"locations":[{"location":"West
        US","role":"primary"},{"location":"East US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot000003.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot000003","endpoint":"sb://iothub-ns-iot4fc7xbn-16231406-9bf166b33b.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT5S","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"type":"None"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "dps000002"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability?api-version=2020-03-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {"key1": "value1", "key2": "value2"}, "properties":
      {}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2020-03-01
  response:
    body:
      string: '{"name":"dps000002","location":"westus","properties":{"state":"Activating","provisioningState":"Accepted","allocationPolicy":"Hashed","idScope":null},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","tags":{"key1":"value1","key2":"value2"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfOTE3YThjYmItNjBhZi00OTc2LTg5Y2MtNDc4Y2RjYzExNGUwO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfOTE3YThjYmItNjBhZi00OTc2LTg5Y2MtNDc4Y2RjYzExNGUwO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2020-03-01
  response:
    body:
      string: '{"etag":"AAAAAAyTcoI=","name":"dps000002","location":"westus","properties":{"state":"Active","provisioningState":"Succeeded","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne0044808F"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","tags":{"key1":"value1","key2":"value2"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"etag":"AAAAAAyTcoI=","name":"dps000002","location":"westus","properties":{"state":"Active","provisioningState":"Succeeded","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne0044808F"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","tags":{"key1":"value1","key2":"value2"},"sku":{"name":"S1","tier":"Standard","capacity":1}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {"key3": "value3"}, "etag": "AAAAAAyTcoI=",
      "properties": {"state": "Active", "provisioningState": "Succeeded", "iotHubs":
      [], "allocationPolicy": "GeoLatency"}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2020-03-01
  response:
    bo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfYzU4NjM2MTMtN2M1ZS00ZDFlLThhZTgtZjU3MzM0ZjE1MWU1O3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfMmQ3MjI0MTItMzU5ZC00NDI1LTkwNGYtMjE2N2UwMmJhOTRmO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/listkeys?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"keyName":"provisioningserviceowner","primaryKey":"RaN+mgGl2f0lDPJr7vnwZ5I6NB3Bo+wsJwUjHXJ1Dr4=","secondaryKey":"XrJsJJlo3djRZW942hW7MixojFtxvhGfqWwCLHa+tsA=","rights":"ServiceConfig,
        DeviceConnect, EnrollmentWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"iotHubs": [], "allocationPolicy":
      "GeoLatency", "authorizationPolicies": [{"keyName": "provisioningserviceowner",
      "primaryKey": "RaN+mgGl2f0lDPJr7vnwZ5I6NB3Bo+wsJwUjHXJ1Dr4=", "secondaryKey":
      "XrJsJJlo3djRZW942hW7MixojFtxvhGfqWwCLHa+tsA=", "rights": "ServiceConfig, DeviceConnect,
      EnrollmentWrite"}, {"keyName": "policy000004", "rights": "EnrollmentRead"}]},
      "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfMmIxZjhkYjQtZjNiMC00YTA3LTg1MjctYzRmN2M3MTMzM2NkO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/keys/policy000004/listkeys?api-version=2020-03-01
  response:
    body:
      string: '{"keyName":"policy000004","primaryKey":"ESU7QlBj4qzJZPGLuwbsAb7/B90LJ5e4e9SoBfRBHig=","secondaryKey":"wozeHEIP9f7p6tkWzfqaRPtN5gf+yl7Mx9q1BOSYYfo=","rights":"EnrollmentRead"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfZWMyMmM3MGMtZjYzMC00NzMzLTgyMDUtNmQyOGQwODRlNmNiO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfMGU3NjczNjYtNWY4ZS00Yzk1LWFhY2MtNDVjMTBkNDg1ZDc4O3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2020-03-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"certificate": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tDQpNSUlESFRDQ0FnV2dBd0lCQWdJSVc0aHZid0pPc1BJd0RRWUpLb1pJaHZjTkFRRUxCUUF3SXpFaE1COEdBMVVFDQpBd3dZVkVWVFZFTkZVbFIzZHpack1uWjJZMlY0YldGdVptNDJNQjRYRFRJeE1URXlPVEF3TVRJME1Gb1hEVEl4DQpNVEl3TXpBd01USTBNRm93SXpFaE1COEdBMVVFQXd3WVZFVlRWRU5GVWxSM2R6WnJNbloyWTJWNGJXRnVabTQyDQpNSUlCSVRBTkJna3Foa2lHOXcwQkFRRUZBQU9DQVE0QU1JSUJDUUtDQVFBN3dINTJadDZYaUZGK1RKQ1RFelZFDQp1aXNyOHpSVXBTS2VJVTdud2xLMTlBYXlkM3R4N1R2M2syZHorbUtiM2xOaElDSUU0S1VRS2JucWR1dzNESEx1DQpBN2RhOTFoZzNZNFYwRm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2020-03-01
  response:
    body:
      string: '{"value":[{"properties":{"subject":"TESTCERT000007","expiry":"Fri,
        03 Dec 2021 00:12:40 GMT","thumbprint":"163B9A06AF277DE601D7ECEC6713F1A3CD73DC7E","isVerified":false,"created":"Mon,
        01 Jan 0001 00:00:00 GMT","updated":"Tue, 30 Nov 2021 00:12:42 GMT","certificate":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/provisioningServices/Certificates","etag":"IjlhMDJiYmE5LTAwMDAtMDcwMC0wMDAwLTYxYTU2YzdhMDAwMCI="}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"certificate": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tDQpNSUlESFRDQ0FnV2dBd0lCQWdJSVc0aHZid0pPc1BJd0RRWUpLb1pJaHZjTkFRRUxCUUF3SXpFaE1COEdBMVVFDQpBd3dZVkVWVFZFTkZVbFIzZHpack1uWjJZMlY0YldGdVptNDJNQjRYRFRJeE1URXlPVEF3TVRJME1Gb1hEVEl4DQpNVEl3TXpBd01USTBNRm93SXpFaE1COEdBMVVFQXd3WVZFVlRWRU5GVWxSM2R6WnJNbloyWTJWNGJXRnVabTQyDQpNSUlCSVRBTkJna3Foa2lHOXcwQkFRRUZBQU9DQVE0QU1JSUJDUUtDQVFBN3dINTJadDZYaUZGK1RKQ1RFelZFDQp1aXNyOHpSVXBTS2VJVTdud2xLMTlBYXlkM3R4N1R2M2syZHorbUtiM2xOaElDSUU0S1VRS[...]
[...]
- request:
    body: null
    headers:
      If-Match:
      - IjlhMDI3Y2FhLTAwMDAtMDcwMC0wMDAwLTYxYTU2YzdmMDAwMCI=
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005/generateVerificationCode?api-version=2020-03-01
  response:
    body:
      string: '{"properties":{"verificationCode":"47280E1299150B8F9C8CC7447992C486FAD313800D25045D","subject":"TESTCERT000007","expiry":"Fri,
        03 Dec 2021 00:12:40 GMT","thumbprint":"163B9A06AF277DE601D7ECEC6713F1A3CD73DC7E","isVerified":false,"created":"Mon,
        01 Jan 0001 00:00:00 GMT","updated":"Tue, 30 Nov 2021 00:12:52 GMT","certificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tDQpNSUlESFRDQ0FnV2dBd0lCQWdJSVc0aHZid0pPc1BJd0RRWUpLb1pJaHZjTkFRRUxCUUF3SXpFaE1COEdBMVVFDQpBd3dZVkVWVFZFTkZVbFIzZHpack1uWjJZMlY0YldGdVptNDJNQjRYRFRJeE1URXl[...]
- request:
    body: '{"certificate": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tDQpNSUlEQWpDQ0FlcWdBd0lCQWdJSUhJdkNrcEltNGdnd0RRWUpLb1pJaHZjTkFRRUxCUUF3SXpFaE1COEdBMVVFDQpBd3dZVkVWVFZFTkZVbFIzZHpack1uWjJZMlY0YldGdVptNDJNQjRYRFRJeE1URXlPVEF3TVRJMU1Wb1hEVEl4DQpNVEl3TXpBd01USTFNVm93T3pFNU1EY0dBMVVFQXd3d05EY3lPREJGTVRJNU9URTFNRUk0UmpsRE9FTkROelEwDQpOems1TWtNME9EWkdRVVF6TVRNNE1EQkVNalV3TkRWRU1JSUJJVEFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUTRBDQpNSUlCQ1FLQ0FRQTJwT0FTWHpNSWthbHlSNjkvOHNqVnZSbUdkSnVEdTludk11T3FNQm83T[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2021-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiacjutest/providers/Microsoft.Devices/IotHubs/jiacju-iot-accessibility","name":"jiacju-iot-accessibility","type":"Microsoft.Devices/IotHubs","location":"centralus","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"jiacjutest","etag":"AAAADF3m/ko=","properties":{"locations":[{"location":"Central
        US","role":"primary"},{"location":"East US 2","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[{"filterName":"131.107.8.101","action":"Accept","ipMask":"131.107.8.101"}],"networkRuleSets":{"defaultAction":"Deny","applyToBuiltInEventHubEndpoint":true,"ipRules":[{"filterName":"131.107.8.101","action":"Allow","ipMask":"131.107.8.101"}]},"hostName":"jiacju-iot-accessibility.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"jiacju-iot-accessibility","endpoint":"sb://iothub-ns-jiacju-iot-15951259-e1035b4561.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[{"name":"testroute","source":"DeviceLifecycleEvents","condition":"true","endpointNames":["events"],"isEnabled":true}],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","disableLocalAuth":false,"allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/eventualC/providers/Microsoft.ManagedIdentity/userAssignedIdentities/drEventualCIdentity":{"clientId":"0b4fcef6-7be3-4265-b4a5-f348cd6cbbdd","principalId":"7b457ed0-2509-43f4-83d9-6d0b1f57732e"}}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rkesslerTest/providers/Microsoft.Devices/IotHubs/rkesslerNorthEurope","name":"rkesslerNorthEurope","type":"Microsoft.Devices/IotHubs","location":"northeurope","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"rkesslerTest","etag":"AAAADFwD1S8=","properties":{"locations":[{"location":"North
        Europe","role":"primary"},{"location":"West Europe"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/listkeys?api-version=2021-07-01
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"L1k4QtVrG9a1xp0HIt51YNP0pkwG0RVp33R5f1CGE58=","secondaryKey":"EjSueRw955QQJTihowYp7CJ7eDqNW62oCoD3dF7+CQ4=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"tnOjeYNVbk+DGgjak3YkaWpbhbMONzp4dDd8vYG7oNs=","secondaryKey":"vRdCOWuSI8Ky4X2CyOWrKuTscqpzgklh+owmDbxKcBU=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"LibI8pKgxDw/EmcHGwF1x815Vhu9oeeyF82fg5klWIE=","secondaryKey":"7cGXhR2C2PyVOPQfK6dTijfu2lyj4snuEYHgu21bMxo=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"Ynw0G7/evn1F7eJazaj0j3aOXLm5Q7M2UsyHHEEHS+0=","secondaryKey":"iaAFTY+CRrxGAwthmg9C2VCjrrXQ2bVF2mpyvdgmV5c=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"QNEjrCg6XYMrx1DuVkJqHilVVQH5ZxbU0+jdeWDvzQs=","secondaryKey":"XC3BZxuK6eAx0YBq/lNsOv8jnNADv5wUl/q5L8CQbb4=","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus/operationResults/aWQ9b3NfaWhfNDE4OTBkOGEtYzI5Mi00MjdjLWJjZGUtYTZjNWJhNDUyNTI4O3JlZ2lvbj13ZXN0dXM=?api-version=2021-07-01&operationSource=other&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/IotHubKeys/iothubowner/listkeys?api-version=2021-07-01
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"L1k4QtVrG9a1xp0HIt51YNP0pkwG0RVp33R5f1CGE58=","secondaryKey":"EjSueRw955QQJTihowYp7CJ7eDqNW62oCoD3dF7+CQ4=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfMmQwNmM5OTItY2ZlMS00ZjhhLTljZmUtNjdmNjViYzkxZmZlO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfOWM3ODcwYjgtNTNjMy00ZWVhLTgzYmUtNmI1MTY5M2UzMDBkO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfZDk1MDU4NGEtMDFjMi00OTZlLWIxNmYtNWM5OGZhNTI2MjQyO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfOTllNzcxNDItNWY3ZC00NmM5LWI3MzUtOWI4M2MwOWZjMzlkO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfMTZlMTFmYTMtZGUwOS00NTRiLWExMmQtOGFmNmJmYzhjNDA2O3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/aWQ9b3NfaWRfODVmMzlmYTktNTA5Ny00MGVmLWIyOTAtY2U1NjAyMDAzYzUwO3JlZ2lvbj13ZXN0dXM=?api-version=2020-03-01&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
