interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-05-02T20:57:40Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "ST2"}, "properties": {"displayName":
      "iotc-cli-test000002", "subdomain": "iotc-cli-test000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"346c0240-3fc4-411a-a989-ed7891804ade","displayName":"iotc-cli-test000002","subdomain":"iotc-cli-test000002","template":"iotc-pnp-preview@1.0.0","state":"created"},"sku":{"name":"ST2"},"identity":{"type":"None"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9e003fa9-0000-0100-0000-627045c70000"'
      x-iot-cluster:
      - iotcprodwestus04
      x-iot-correlation:
      - 3jdp18x1.0
      x-iot-version:
      - 041722.0001-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "ST1"}, "properties": {"displayName":
      "My Custom App Display Name", "subdomain": "iotc-cli-test000002-template", "template":
      "iotc-pnp-preview@1.0.0"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002-template?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002-template","name":"iotc-cli-test000002-template","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"abf7d66a-bc9a-469b-a6dc-6f0c9cc7888a","displayName":"My
        Custom App Display Name","subdomain":"iotc-cli-test000002-template","template":"iotc-pnp-preview@1.0.0","state":"created"},"sku":{"name":"ST1"},"identity":{"type":"None"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2000098b-0000-0100-0000-627045ec0000"'
      x-iot-cluster:
      - iotcprodwestus04
      x-iot-correlation:
      - 83tjcnb3.0
      x-iot-version:
      - 041722.0001-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "ST2"}, "identity": {"type": "SystemAssigned"},
      "properties": {"displayName": "iotc-cli-test000002-mi", "subdomain": "iotc-cli-test000002-mi"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002-mi?api-version=2021-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002-mi","name":"iotc-cli-test000002-mi","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"a7a599a7-04d6-4163-bf9d-66af30e8acfd","displayName":"iotc-cli-test000002-mi","subdomain":"iotc-cli-test000002-mi","template":"iotc-pnp-preview@1.0.0","state":"created"},"sku":{"name":"ST2"},"identity":{"type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"85da883d-7c78-4f02-b3d5-66544d964e9e"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"02002a89-0000-0100-0000-627046120000"'
      x-iot-cluster:
      - iotcprodwestus01
      x-iot-correlation:
      - a49cdwpb.0
      x-iot-version:
      - 041722.0001-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps?api-version=2021-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"346c0240-3fc4-411a-a989-ed7891804ade","displayName":"iotc-cli-test000002","subdomain":"iotc-cli-test000002","template":"iotc-pnp-preview@1.0.0","state":"created"},"sku":{"name":"ST2"},"identity":{"type":"None"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-iot-cluster:
      - iotcprodwestus04
      x-iot-correlation:
      - 5spra47c.0
      x-iot-version:
      - 041722.0001-release
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/iotApps/iotc-cli-test000002?api-version=2021-06-01
  response:
    body:
      string: ''
    headers:
      x-iot-cluster:
      - iotcprodwestus01
      x-iot-correlation:
      - 6ao87ht6.0
      x-iot-version:
      - 041722.0001-release
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
